.alignment{
    margin-left: 250px;
}
.cover-2{
    height: 680px;
}
.dark{
    filter:brightness(60%)
}


.margin{
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 50px;

}


.register-html{
    margin:100px 300px;
}


